<!DOCTYPE html>
<html>
<head>
	<title>Times#main</title>
</head>
<body>

<div id="container">
<h2>Date and Time</h2>
	<h3 id="leader_text">The current time and date:</h3>
	<div id="display">
		<h1><%= @date %></h1>
		<h1><%= @hour %></h1>
	</div>
</div> 	
</body>
</html>
<h1></h1>

