*{
	margin: 0 auto;
}

#container{
	margin-top: 40px;
	width: 500px;
	height: auto;
	border: 2px solid black;
	text-align: center;
	font-weight: normal;
}

h2{
	margin-top: 0px;
	background-color: #000066;
	padding:10px;
	border-bottom: 1px double blue;
	color: white;
}

#surveybox{
	width: 500px;
	border: 1px solid black;
	margin-top: 30px;
}

#surveybox h1{
	text-align: center;
	background-color: silver;
}

#survey_results{
	border: 1px solid black;
	margin: 40px;
	padding: 20px;
	text-align: left;
}
#survey_results p{
	text-align: center;
}

#form_area{
	border: 1px solid black;
	margin: 40px;
	padding: 20px;
	text-align: left;
}

#usrform table{
	margin-left: 0px;
	padding: 0px;

}
#usrform table tr{
	margin-top: 2px;
	margin-bottom: 2px;

}
#usrform table td{
	width: 130px;
	padding: 5px 2px;	

}
#usrform p{
	padding: 5px 2px;	
}
#usrform button{
	margin: 5px 0px 0px 270px;
	font-size: 16px;
	padding: 2px;
}
select{
	width: 200px;
}
#comment_label{
	text-align: left;
	margin: 20px 0px 0px 0px;
}
#survey_results h4{
	background-color: #B6D7A8;
	border: 1px solid black;
	font-size: 14px;
	margin: 0px 40px 20px 40px;
	padding: 10px;
}
table td{
	width: 140px;
	vertical-align: top;
}

#survey_results button{
	margin: 20px 0px 0px 270px;
	font-size: 16px;
	padding: 2px;
}